* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
    overflow: hidden; /* Prevent horizontal scroll */
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding for better spacing */
    z-index: 1000; /* Set a high z-index to ensure it's above other content */
}

#header img {
    max-width: 80px; /* Adjust the width of the logo */
    height: auto;
}

.container {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px; /* Adjust the width of the logo */
    margin-right: 20px; /* Add margin to separate logo from navigation */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; /* Change the color on hover */
}

/* Add some padding to the body to avoid content being hidden behind the fixed header */
body {
    padding-top: 70px; /* Adjust as needed based on the height of your fixed header */
}
